<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.riceschoots.provider.wallet.mapper.UserWalletMapper">

    <!--根据shopifyid删除用户信息-->
    <update id="updateUserWallet">
        UPDATE user_wallet SET `use_money` = #{money} where user_id =#{userId}
    </update>

    <!--根据shopify用户ID获取用户主键ID-->
    <select id="getUserWalletById" parameterType="java.lang.Long" resultType="cn.riceschoots.api.wallet.model.UserWallet">
        SELECT * FROM user_wallet WHERE user_id = #{userId}
    </select>

</mapper>